<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>

  <ion-list>
    <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail item-start>
        <img src="../../assets/img/ztomorrowland-tml.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
      <div>
           <h1>TomorrowLand Maputo</h1>
           <p>31/12</p>
           <p>Maputo, Campo de Maxaquene</p>
    </div>
  </ion-label>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirEventoFavorito()"><ion-icon name="heart"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail item-start>
        <img src="../../assets/img/unnamed.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
      <div>
           <h1>Kings of House</h1>
           <p>24/12</p>
           <p>Maputo, Estadio da Machava</p>
    </div>
  </ion-label>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirEventoFavorito()"><ion-icon name="heart"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail item-start>
        <img src="../../assets/img/gospel-night-church-event-square-video-design-template-1db02f056777e2177ded64b1f3216544_screen.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
      <div>
           <h1>A Salvacao</h1>
           <p>14/10</p>
           <p>Maputo, S.C Joaquim Chissano</p>
    </div>
  </ion-label>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirEventoFavorito()"><ion-icon name="heart"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item lines="full">
      <ion-thumbnail item-start>
        <img src="../../assets/img/artworks-000087594113-0dkd0j-t500x500.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
      <div>
           <h1>SmallPapo</h1>
           <p>20/10</p>
           <p>Matola, Discoteca Bate Papo</p>
    </div>
  </ion-label>

    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirEventoFavorito()"><ion-icon name="heart"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  </ion-list>

</ion-content>
